API_ID=8045459
API_HASH=e6d1f09120e17a4372fe022dde88511b
BOT_TOKEN=2096983652:AAHoX4BGaMJWoi9xnrvyX2y_eyWbwYknCFw
STRING_SESSION=BQB_AAoAtt7L4hAzCi_S7tRo-kierhGIMBMBGSOQ70B7jq2xTtQeuJqIDme0qkCMvdF5n7U4w7oA9EAyZW9n3M_4aZHkFoqygF4518lUDrbiEzISGr5UcLajAqmrjRVXWZSo0Bp4D2fa0pCdwX6K6oiIjpr3cAVPv5wJCsrR42MDvz1vJ8WqH6IWztxaDmZKLMGpI4XJmNYetElSGTyNHP3no0ylx5MHEhLlBaOrUietFDx7etmbOP4NjmfcXuT1tVrb7nYEdpRcJzOFzIV8gVoagDnEmXadcAGD567b69Fvf_gkReiH3P3dWWfrnnD0L91bE9m-HbRaqSrTuFhu1nEXC7UsrgAAAAB8rK97AA
CHAT=-1001515341564
ADMINS=1281282633 5138495895
